<div class="inner">
  <div class="inner-top" #scrollBody>
    <table>
      <thead>
        <tr>
          <th colspan="1" class="terms-label">Terms</th>
          <th [attr.colspan]="getMaxCourseForTerms() + 1" class="courses-label">Courses</th>
        </tr>
      </thead>
      <tbody>
        <tr #focusParent class="focus-parent-element">
          <td [@enterExit]="selectedCourse ? 'enter' : 'exit'" #focusElement class="focus-element"></td>
        </tr>
        <app-term 
          *ngFor="let term of terms; let i = index" 
          [term]="term" 
          [index]="i" 
          [selectedCourse]="selectedCourse"
          (focusCourse)="focusOnCourse($event)"
        ></app-term>
        <tr>
          <td [attr.colspan]="getMaxCourseForTerms() + 2" class="add-term">
            <button class="btn" (click)="addTerm()">Add Term(+)</button>
          </td>
        </tr>
        <tr>
          <td [attr.colspan]="getMaxCourseForTerms() + 2" class="remove-term">
            <button class="btn" (click)="removeTerm()">Remove Last Term(-)</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div [ngClass]="setClassesInnerBottom()">
    <div class="inner-bottom-head"></div>
    <div class="inner-bottom-foot">
      <app-bottom-view 
        [selectedCourse]="selectedCourse"
        [terms]="terms"
        [prereq]="prereq"
        [coreq]="coreq"
      ></app-bottom-view>
    </div>
  </div>
</div>
