.container {
    background-color: blueviolet;
}

.inner {
    display: flex;
    flex-direction: column;
    padding: 0 0%;
    justify-content: center;
    max-height: 89vh;
    width: 100%;
}

.inner-top{
    background-color: #eee;
    height: 100vh;
    overflow: auto;
    max-height: 80%;
    max-width: 100%;
    padding-bottom: 20%;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
}

.inner-bottom-head-container {
    background: #414141;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-bottom-head {
    display: flex;
  flex-direction: row;
  padding: 1px;
  height: 40px;
  width: 100%;
  border-top: 1px solid #222;
  background: #414141;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}


.inner-bottom-foot {
    height: 50px;
    transition: height 0.5s ease-out;
    border-radius: 0 0 15px 15px;
    background: lightgray;
    text-align: center;
    overflow: auto;
}

.inner-bottom {
    height: 100px;
    max-height: 20%;
    border-radius: 0 0 15px 15px;
    transition: height 0.5s ease-out;
    
}

.inner-bottom.expanded {
    height: 300px;
}

.inner-bottom.expanded .inner-bottom-foot {
    height: 250px;
}

table {
    background-color: #eee;
    color: #495057;
    border:1px solid#222 !important;
    border-radius: 5px;
}

thead {
    text-align: center;
}

.terms-label {
    width: 75px;
    text-align: center;
}

.courses-label {
    width: 100%;
}

tbody {
    height: 100%;
}

th {
    text-align: center;
    min-width: 75px;
    margin: 2px;
    font-weight: 900;
    /* max-height: 100%; */
    border-radius: 5px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #222;
    border-radius: .25rem;
}

td {
    width: 200px;
     margin: 2px;
     border-radius: 5px;
     border: 1px solid#222;
     transition: height 0.5s ease;
}

tr {
    display: flex;
}

tr.selected-term th, tr.selected-term td {
    background-color: #ddd;
}

.add-term, .remove-term {
    width: 100%;
}

.focus-parent-element {
    position: relative; 
    width: 100%; 
    height: 100%; 
    top: -50px; 
    left: -5px;
}

.focus-element {
    position: absolute;
    z-index: 3;
    border-radius: 5px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    pointer-events: none;
    overflow: hidden;
    border: 2px solid rgba(129, 255, 249, 1);
    box-shadow:0 0 14px 4px #333;
    opacity: 0;
}


